[Unit]
Description = Runs ground.py on startup
After=graphical.target
Requires=network.target

[Service]
Type=idle
User=pi
ExecStart= /usr/bin/python  /home/pi/Desktopclient.py
Restart=always
RestartSec=15

[Install]
wantedBy=multi-user.target
