[Unit]
Description = Runs ground.py on startup
After=graphical.target
Requires=network.target

[Service]
Type=idle
User=drone
ExecStart= /usr/bin/python  /home/drone/Desktop/droneToCentral.py
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
